<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
  <h1>Eliminar Detalle de Venta</h1>
  <h3>¿Está seguro que desea eliminar este detalle?</h3>
  <div>
    <hr />
    <dl class="row">
      <dt class="col-sm-2">ID</dt>
      <dd class="col-sm-10" th:text="${detalleVenta.id}"></dd>

      <dt class="col-sm-2">Venta</dt>
      <dd class="col-sm-10" th:text="${detalleVenta.venta.id}"></dd>

      <dt class="col-sm-2">Producto</dt>
      <dd class="col-sm-10" th:text="${detalleVenta.producto.nombre}"></dd>

      <dt class="col-sm-2">Precio Unitario</dt>
      <dd class="col-sm-10" th:text="${detalleVenta.precioUnitario}"></dd>

      <dt class="col-sm-2">Subtotal</dt>
      <dd class="col-sm-10" th:text="${detalleVenta.subtotal}"></dd>

      <form th:action="@{/detalles-venta/delete}" method="post">
        <input type="hidden" name="id" th:value="${detalleVenta.id}">
        <input type="submit" value="Eliminar" class="btn btn-danger">
        <a th:href="@{/detalles-venta}" class="btn btn-outline-secondary">Regresar</a>
      </form>
    </dl>
  </div>
</div>
