<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

  <!-- Mostrar mensaje de confirmacion en caso de exito -->
  <div th:if="${msg != null}">
    <script>
      Swal.fire({
          title: "Confirmación",
          text: '[[${msg}]]',
          icon: "success"
      });
    </script>
  </div>

  <!-- Mostrar mensaje de error en caso de que suceda -->
  <div th:if="${error != null}">
    <script>
      Swal.fire({
          title: "Error",
          text: '[[${error}]]',
          icon: "error"
      });
    </script>
  </div>

  <h1>Detalles de Ventas</h1>
  <a th:href="@{/detalles-venta/create}" class="btn btn-outline-primary">Nuevo Detalle</a>

  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th>ID</th>
      <th>Venta</th>
      <th>Producto</th>
      <th>Precio Unitario</th>
      <th>Subtotal</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${detalles}">
      <td th:text="${item.id}"></td>
      <td th:text="${item.venta.id}"></td>
      <td th:text="${item.producto.nombre}"></td>
      <td th:text="${item.precioUnitario}"></td>
      <td th:text="${item.subtotal}"></td>
      <td>
        <a th:href="@{/detalles-venta/details/{id}(id=${item.id})}" class="btn btn-outline-secondary btn-sm">Detalles</a>
        <a th:href="@{/detalles-venta/edit/{id}(id=${item.id})}" class="btn btn-primary btn-sm">Editar</a>
        <a th:href="@{/detalles-venta/remove/{id}(id=${item.id})}" class="btn btn-outline-danger btn-sm">Eliminar</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
