<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Productos</h1>
    <form th:action="@{/productos/save}" th:object="${producto}" method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" id="nombre"  required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <input type="text" class="form-control" th:field="*{descripcion}" id="descripcion" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" th:field="*{precio}" id="precio" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="stockActual">Stock Actual</label>
                    <input type="number" class="form-control" th:field="*{stockActual}" id="stockActual" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="stockMinimo">Stock minimo</label>
                    <input type="number" class="form-control" th:field="*{stockMinimo}" id="stockMinimo" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="fecha">Fecha de registro</label>
                    <input type="date" class="form-control" th:field="*{fecha}" id="fecha" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select class="form-control" th:field="*{categoria.id}" id="categoria" required>
                        <option th:each="cat : ${categorias}"
                                th:value="${cat.id}"
                                th:text="${cat.nombre}">
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <hr>
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a th:href="@{/productos}">Regresar</a>
    </form>

</div>