<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">

    <!-- Mensajes -->
    <div th:if="${msg != null}">
        <script>
            Swal.fire({ title: "Confirmación", text: '[[${msg}]]', icon: "success" });
        </script>
    </div>
    <div th:if="${error != null}">
        <script>
            Swal.fire({ title: "Error", text: '[[${error}]]', icon: "error" });
        </script>
    </div>

    <h1>Productos</h1>
    <a th:href="@{/productos/create}" class="btn btn-outline-primary mb-3">Nuevo Producto</a>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Stock Actual</th>
            <th>Stock Mínimo</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${productos}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.nombre}"></td>
            <td th:text="${item.stockActual}"></td>
            <td th:text="${item.stockMinimo}"></td>
            <td th:text="${item.precio}"></td>
            <td>
                <span th:if="${item.stockActual < item.stockMinimo}" class="badge bg-danger">🚨 Bajo Stock</span>
                <span th:if="${item.stockActual >= item.stockMinimo}" class="badge bg-success">✔ Stock OK</span>
            </td>
            <td>
                <a th:href="@{/productos/details/{id}(id=${item.id})}" class="btn btn-outline-secondary btn-sm">Detalles</a>
                <a th:href="@{/productos/edit/{id}(id=${item.id})}" class="btn btn-primary btn-sm">Editar</a>
                <a th:href="@{/productos/remove/{id}(id=${item.id})}" class="btn btn-outline-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>

</div>
