<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
    <h1>Alertas de Inventario</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Producto</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="item : ${alertas}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.producto.nombre}"></td>
            <td th:text="${#dates.format(item.fecha, 'yyyy-MM-dd HH:mm')}"></td>
            <td th:text="${item.estado}"></td>
            <td>
                <a th:href="@{/alertas/details/{id}(id=${alerta.id})}" class="btn btn-outline-secondary btn-sm">Detalles</a>
                <a th:href="@{/alertas/edit/{id}(id=${alerta.id})}" class="btn btn-primary btn-sm">Editar</a>
                <a th:href="@{/alertas/remove/{id}(id=${alerta.id})}" class="btn btn-outline-danger btn-sm">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<tr >




</tr>
